body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-size: 36px;
    color: black;
    font-family: sans-serif;
    margin: 0;
}

h1 {
    margin: 30px 0px 20px;
    font-family: sans-serif;
    font-size: 48px;
}
#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    height: 100vh;
    background: linear-gradient(#f8f8f8, #4b495d);
}

#calcContainer {
    display: flex;
    flex-direction: column;
    background: rgb(24, 24, 24);
    margin-top: 20px;
    width: 16em;;
    min-height: 75%;
    border: 5px solid black;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.411);
    border-radius: 18px;
}

#previousDisplay {
    background: linear-gradient(0.25turn, #4b495d, #000000);
    height: 1.5em;
    color: lightgreen;
    font-family: monospace;
    display: flex;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

#display {
    display: flex;
    background: black;
    flex: 0.80;
    color: lightgreen;
    font-family: monospace;
    font-size: 69px;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
    overflow: hidden;
}

#bigButtonHolder {
    flex: 3;
    display: flex;
}

#numberButtonHolder {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    column-gap: 0;
    row-gap: 0;
}

#operatorButtonHolder {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: stretch;
}

.button {
    background: white;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    margin: 2px;
}

.numberButton, #equals, #AC {
    width: 30%;
    flex-grow: 1;
    font-size: 48px;
}

.operatorButton, #decimalButton, #plusMinus, #backspace {
    flex: 1;
}

#AC {
    background-color: red;
    border-radius: 0px 0px 0px 15px;
}

#AC:hover, #equals:hover, .button:hover {
    opacity: 75%;
}

#equals {
    background-color: green;
}

#plusMinus {
    background-color: lightgrey;
}

#backspace {
    background-color: red;
}

.decimal {
    border-radius: 0px 0px 15px 0px;
}

.clicked {
    opacity: 100% !important;
    background-color: black !important;
    border: 2px solid white !important;
    color: white;
}